@font-face {
    font-family: "KelsonSansRegular";
    src: url("../fonts/KelsonSansRegular/KelsonSansRegular.eot");
    src: url("../fonts/KelsonSansRegular/KelsonSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/KelsonSansRegular/KelsonSansRegular.woff") format("woff"),
    url("../fonts/KelsonSansRegular/KelsonSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "KelsonSansBold";
    src: url("../fonts/KelsonSansBold/KelsonSansBold.eot");
    src: url("../fonts/KelsonSansBold/KelsonSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/KelsonSansBold/KelsonSansBold.woff") format("woff"),
    url("../fonts/KelsonSansBold/KelsonSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: OfficinaSansExtraBold;
    src: url("../fonts/OfficinaSansExtraBold/OfficinaSansExtraBold.eot");
    src: url("../fonts/OfficinaSansExtraBold/OfficinaSansExtraBold.eot?#iefix") format("embedded-opentype");
    src: url("../fonts/OfficinaSansExtraBold/OfficinaSansExtraBold.woff") format("woff");
    src: url("../fonts/OfficinaSansExtraBold/OfficinaSansExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "OfficinaSansBook";
    src: url("../fonts/OfficinaSansBook/OfficinaSansBook.eot");
    src: url("../fonts/OfficinaSansBook/OfficinaSansBook.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OfficinaSansBook/OfficinaSansBook.woff") format("woff"),
    url("../fonts/OfficinaSansBook/OfficinaSansBook.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    display: flex;
    font-family: KelsonSans;
    font-weight: bold;
    color: #0b232d;
    flex-direction: column;
    justify-content: space-between;
}

.header,
.nav,
.footer {
    flex: 0 0 auto;
}

.main {
    flex: 1 0 auto;
}

.inner {
    width: 100%;
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
}

.header {
    background: #00415b;
}

.header__inner {
    display: flex;
    padding: 30px 20px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100%;
    max-width: 270px;
    font-size: 0;
}

.header__logo {
    margin-right: 54px;
}

.header__search {
    position: relative;
    display: flex;
    margin-right: 85px;
    align-items: center;
}

.search__input {
    display: inline-block;
    width: 100%;
    max-width: 415px;
    padding: 18px 30px 17px 30px;
    font-family: OfficinaSansBook;
    font-size: 18px;
    color: #fff;
    background: #004a67;
    border: none;
    border-radius: 3px;
    opacity: 0.6;
}

::-webkit-input-placeholder {
    color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}
:-ms-input-placeholder {
    color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}

.search__button {
    position: absolute;
    top: 50%;
    right: 24px;
    width: 100%;
    max-width: 27px;
    height: 28px;
    padding: 0;
    font-size: 0;
    cursor: pointer;
    background: url("../img/template/loupe.png") no-repeat;
    border: none;
    transform: translate(0, -50%);
    outline: none;
}

.phone {
    font-family: KelsonSansBold;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
}

.header__phone {
    letter-spacing: -0.5px;
}

.button {
    display: inline-block;
    width: 100%;
    max-width: 240px;
    box-sizing: border-box;
    padding: 12px 0px 13px;
    font-family: OfficinaSansExtraBold;
    line-height: 1;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(6, 35, 46, 0.25);
    text-align: center;
    color: #fff;
    background: linear-gradient(to top, #eb6c0e 0%, #f29b03 100%);
    border-radius: 3px;
}

.header__callback {
    margin-left: 19px;
}

.callback {
    position: relative;
    font-size: 20px;
}

.callback:before {
    position: absolute;
    top: 50%;
    left: 26px;
    display: inline-block;
    width: 16px;
    height: 21px;
    background: url("../img/template/receiver.png");
    transform: translate(0, -50%);
    content: "";
}

.nav {
    background: linear-gradient(to top, #002331 0%, #003246 100%);
    border-bottom: 4px solid #001821;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

nav__item {
    display: inline-block;
}

.nav__link {
    display: block;
    padding: 19px;
    font-family: KelsonSansBold;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.9px;
    color: #fff;
}

.footer {
    background: linear-gradient(to top, #002331 0%, #003246 100%);;
}

.footer__inner {
    display: flex;
    padding: 49px 20px 64px;
    justify-content: space-between;
}

.footer__logo {
    display: block;
    margin-right: 103px;
    text-decoration: none;
}

.footer__copyright {
    margin-top: 20px;
    font-family: KelsonSansRegular;
    font-size: 12px;
    font-weight: 400;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.74);
    color: #fff;
    opacity: 0.55;
}

.footer__copyright--uppercase {
    text-transform: uppercase;
}

.footer__menu {
    display: flex;
    width: 239px;
    max-height: 73px;
    margin-right: 123px;
    line-height: 24px;
    flex-wrap: wrap;
    flex-direction: column;
}

.menu__item {
    display: block;
    padding-right: 52px;
    font-family: KelsonSansRegular;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.74);
    color: #fff;
    letter-spacing: 0.9px;
}

.menu__item:nth-last-child(1),
.menu__item:nth-last-child(2) {
    padding-right: 0;
}

.footer__address {
    margin-right: 127px;
    font-weight: 400;
}

.address__post {
    display: block;
    font-family: KelsonSansRegular;
    font-size: 16px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.74);
    color: #fff;
    letter-spacing: 0.7px;
}

.address__email {
    display: block;
    margin-top: 16px;
    font-family: KelsonSansRegular;
    font-size: 18px;
    color: #6ad5ff;
    letter-spacing: 0.9px;
}

.footer__contacts {
    width: 100%;
    max-width: 240px;
}

.footer__callback {
    margin-top: 18px;
}

.footer__callback,
.footer__phone {
    display: block;
}

@media (min-width: 1024px) {
    .logo:hover,
    .search__button:hover,
    .search__input:hover,
    .phone:hover,
    .button:hover,
    .menu__item:hover {
        opacity: 0.8;
    }
}